
// Converted Variables

$g-gray-90: #212121 !default;
$g-gray-80: #424242 !default;
$g-gray-60: #757575 !default;
$g-gray-40: #BDBDBD !default;
$g-gray-20: #EEEEEE !default;
$g-gray-10: #F5F5F5 !default;
$g-gray-5: #FAFAFA !default;
$g-primary: #1069C2 !default;
$g-primary-dark: #0C4F92 !default;
$g-primary-light: #C3D9F0 !default;
$g-success: #00CC99 !default;
$g-success-dark: #00A47B !default;
$g-success-light: #CCF5EB !default;
$g-notice: #66CCFF !default;
$g-notice-dark: #1AB2FF !default;
$g-notice-light: #E1F5FF !default;
$g-warning: #FFCC00 !default;
$g-warning-dark: #D9AD00 !default;
$g-warning-light: #FFF5CC !default;
$g-error: #EF4C43 !default;
$g-error-dark: #D41C12 !default;
$g-error-light: #FCDBD9 !default;
$g-space-gt: 5rem !default;
$g-space-hg: 4rem !default;
$g-space-xl: 3rem !default;
$g-space-lg: 2rem !default;
$g-space-md: 1.5rem !default;
$g-space-sm: 1rem !default;
$g-space-xs: .75rem !default;
$g-space-tn: .5rem !default;
$g-space-mi: .25rem !default;
$g-space: $g-space-md !default;
$g-borderRadius-xl: 6px !default;
$g-borderRadius-lg: 5px !default;
$g-borderRadius-md: 4px !default;
$g-borderRadius-sm: 3px !default;
$g-borderRadius: $g-borderRadius-md !default;
$g-lineHeight-xl: 2 !default;
$g-lineHeight-lg: 1.8 !default;
$g-lineHeight-md: 1.5 !default;
$g-lineHeight-sm: 1.2 !default;
$g-lineHeight-xs: 1.1 !default;
$g-lineHeight: $g-lineHeight-md !default;
$g-letterSpace-xl: .1em !default;
$g-letterSpace-lg: .05em !default;
$g-letterSpace-md: 0 !default;
$g-letterSpace-sm: (0 - .04em) !default;
$g-letterSpace-xs: (0 - .08em) !default;
$g-letterSpace: $g-letterSpace-md !default;
$g-gutter: ($g-space / 2) !default;
$g-gutter2x: ($g-gutter * 2) !default;
$g-fontFamily-sansEn: "Helvetica Neue", Helvetica, sans-serif !default;
$g-fontFamily-sansJa: "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif !default;
$g-fontFamily-serifEn: "Bodoni MT", Didot, "Didot LT STD", "Times New Roman", Baskerville, Cambria, serif !default;
$g-fontFamily-serifJa: "游明朝", "Yu Mincho", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "Times New Roman", "HG明朝E", "ＭＳ Ｐ明朝","ＭＳ 明朝",serif !default;
$g-fontFamily-monospaceEn: "Source Code Pro", Menlo, Consolas, monospace !default;
$g-fontFamily-monospaceJa: "Osaka－等幅", Osaka-mono, "ＭＳ ゴシック", "MS Gothic", monospace !default;
$g-fontFamily: $g-fontFamily-sansEn !default;
$g-fontSize-gt: 3rem !default;
$g-fontSize-hg: 2rem !default;
$g-fontSize-xl: 1.5rem !default;
$g-fontSize-lg: 1.25rem !default;
$g-fontSize-md: 1rem !default;
$g-fontSize-sm: .875rem !default;
$g-fontSize-xs: .75rem !default;
$g-fontSize: $g-fontSize-md !default;
$g-fontWeight-normal: 400 !default;
$g-fontWeight-bold: 700 !default;
$g-fontWeight-lighter: 200 !default;
$g-borderColor: $g-gray-20 !default;
$g-borderStyle: solid !default;
$g-borderSize: 1px !default;
$g-border: $g-borderSize $g-borderStyle $g-borderColor !default;
$g-controls-color: $g-gray-40 !default;
$g-controls-borderSize: .0625rem !default;
$g-controls-borderRadius: $g-borderRadius-md !default;
$g-controls-height-sm: (1.5rem - $g-controls-borderSize) !default;
$g-controls-height-md: (2.25rem - $g-controls-borderSize) !default;
$g-controls-height-lg: (3rem - $g-controls-borderSize) !default;
$g-controls-height-xl: (3.75rem - $g-controls-borderSize) !default;
$g-controls-height: $g-controls-height-md !default;
$g-controls-spaceV-xl: .75rem !default;
$g-controls-spaceH-xl: 3rem !default;
$g-controls-spaceV-lg: .5rem !default;
$g-controls-spaceH-lg: 2rem !default;
$g-controls-spaceV: .25rem !default;
$g-controls-spaceH: 1rem !default;
$g-controls-spaceV-sm: .125rem !default;
$g-controls-spaceH-sm: .5rem !default;

// Custom Media Query Variables

$g-viewport-sm: '(min-width: 40em)' !default;
$g-viewport-md: '(min-width: 64em)' !default;
$g-viewport-lg: '(min-width: 75em)' !default;


